* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: border-box;
}

::selection { background: #ddd; color: #000 }

:root { --lh: 1.5em }

html {
    margin: 0 0 0 calc(100vw - 100%);
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    font: 1em/var(--lh) monospace;
    padding: 16vh 2em 0;
    background: #fff;
    color: #111;
    display: grid;
    grid-template-columns: minmax(auto, 64ch);
    align-content: start;
    justify-content: center;
    min-height: 100vh;
}

#home-container {
    display: flex;
    gap: 4em;
    align-items: center;
}
#home-image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border: 1px solid #111;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    flex-shrink: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: .16666em;
    margin-left: -.16666em;
}

a i { font-style: italic }
a:active i { border: none }

footer { padding: calc(var(--lh) * 2) 0 8vh }

#clock-container {
    margin-top: 25vh;
    text-align: center;
    font-size: 0.85em;
    color: #888;
}

strong, b { font-weight: bold }
em, i { font-style: italic }
main > a { display: block; width: fit-content }

h1, p { margin-bottom: var(--lh); }

img { max-width: 100%; height: auto; margin: var(--lh) 0; }

code { background: #e5e5e5; padding: .1em .3em; }
pre code { display: block; padding: 1em; overflow-x: auto; margin: var(--lh) 0; }
table { border: none; margin-top: -.16666em }

td:first-child { padding: 0 }
td { padding: 0 3em }
tr:nth-child(n) { background: none }
tr td:last-child { padding: 0 }

@media (max-device-width: 800px) {
    #home-container {
        flex-direction: column;
        align-items: flex-start;
    }
    body { 
        padding-top: 2em; 
        justify-content: start;
    }
    footer { padding: 2em 0 }
    a i { border-color: #888 }
}
